<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<button (click)="onClickSync()">Sync Processing</button>
<br><br>
<button (click)="onClickAsyncWithCallback()">Async Processing with Callbacks</button>
<br><br>
<button (click)="onClickAsyncWithPromise()">Async Processing with Promises</button>
<br><br>
<button (click)="onClickSyncWithPromise()">Sync Processing with Promises</button>
<br><br>
<button (click)="onClickAsyncWithObservable()">Async Processing with Observables</button>
<br><br>
<button (click)="onClickSyncWithObservable()">Sync Processing with Observables</button>

<br><br><br><br><br><br>
<button (click)="onClickAsyncWithPromiseError()">Async Processing with Promises</button>
<br><br>
<button (click)="onClickSyncWithPromiseError()">Sync Processing with Promises</button>
<br><br>
<button (click)="onClickAsyncWithObservableError()">Async Processing with Observables</button>
<br><br>
<button (click)="onClickSyncWithObservableError()">Sync Processing with Observables</button>
